@font-face {
  font-family: trail;
  src: url(../src/fonts/Questrial-Regular.ttf);
}

@font-face {
  font-family: mont;
  src: url(../src/fonts/Montserrat-Bold.otf);
}

@font-face {
  font-family: without;
  src: url(../src/fonts/WithoutAltSans-Bold.ttf);
}

@font-face {
  font-family: boulder;
  src: url(../src/fonts/Boulder-Bold.ttf);
}

@font-face {
  font-family: playlist;
  src: url(../src/fonts/Playlist\ Caps.otf);
}

@font-face {
  font-family: soft;
  src: url(../src/fonts/SOFTSUGARPLAIN.ttf);
}

body{
  margin: 0;
  padding: 0;
  background-color: black;
  color: aliceblue;
  overflow-x: hidden;

}

canvas{
  position: absolute;
  top: 10%;
  left: 28%;
  width: 100%;
  height: 100%;
  z-index: -1;
}


.planet{
  width: 50%;
  margin-top: 20%;
  margin-left: 2%;
  font-size: smaller;
}

.planet h1{
  font-family: soft;
  font-size: 6em;
}

.planet .information{
  font-family: trail;
  font-size: x-small;
}

@media(max-width:1000px){
  canvas{
    left: 60%;
    z-index: 1;
  }
  
}