@font-face {
  font-family: trail;
  src: url(../src/fonts/Questrial-Regular.ttf);
}

@font-face {
  font-family: mont;
  src: url(../src/fonts/Montserrat-Bold.otf);
}

@font-face {
  font-family: without;
  src: url(../src/fonts/WithoutAltSans-Bold.ttf);
}

@font-face {
  font-family: boulder;
  src: url(../src/fonts/Boulder-Bold.ttf);
}

@font-face {
  font-family: playlist;
  src: url(../src/fonts/Playlist\ Caps.otf);
}

@font-face {
  font-family: soft;
  src: url(../src/fonts/SOFTSUGARPLAIN.ttf);
}

body{
  margin: 0;
  padding: 0;
  background-color: black;
  color: aliceblue;
  overflow-x: hidden;

}

canvas{
  position: absolute;
  top: 20%;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.planet{
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  align-items: center;
}

.planet button{
  width: max-content;
  padding: 10px;
  font-family: trail;
  margin-top: 2%;
}

.planet h1{
  font-family: soft;
  font-size: 5em;
  margin-top: -0.4%;
}

.planet .logo{
  font-family: trail;
  font-size: x-small;
}

.planet .information{
  width: 60%;
  font-size: x-small;
  font-family: trail;
  margin-top: -3%;
}

@media(max-width : 1000px){
  .information{
    margin-top: -7%;
  }
}

.chemicals{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  margin-top: 33%;
  font-family: trail;
}

.distance p{
  font-size: x-small;
}

.nextplanet{
  margin-left: -4%;
}

.gas p{
  font-size: x-small;
}